name: Test executor
# Controls when the workflow will run
on:
  # Triggers the workflow on 1 am PST every day
  schedule:
    - cron: '0 9 * * *'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    name: Refresh Repos Statuses
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    steps:
      #########################################################################
      # Environment Setup
      #########################################################################
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      #########################################################################
      # Start the test execution
      #########################################################################
      - name: Generate Repos
        env:
          UAT_TOKEN_TEMP: ${{ secrets.LAUNCHPAD_TOKEN_UAT }}
          OPS_TOKEN_TEMP: ${{ secrets.LAUNCHPAD_TOKEN_OPS }}
          GITHUB_TOKEN_TEMP: ${{ secrets.GH_READ_TOKEN }}
          GITHUB_JPL_TOKEN_TEMP: "No_Token"

          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID_SERVICES_OPS }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY_SERVICES_OPS }}
          AWS_ACCOUNT_ID: ${{ secrets.AWS_ACCOUNT_ID_SERVICES_OPS }}
          AWS_DEFAULT_REGION: us-west-2
        run: |
          python test_execution.py -ut $UAT_TOKEN_TEMP -ot $OPS_TOKEN_TEMP -gt $GITHUB_TOKEN_TEMP -jt $GITHUB_JPL_TOKEN_TEMP